/* src/index.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e2e9e8;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 100%;
  margin: 0.1rem auto;
  padding: 0 0.1rem;
}

.container2 {
  max-width: 100%;
  margin: 0.1rem auto;
  padding: 2px 48px;
}


h1, h2, h4 {
  color: #222;
}

nav {
  background-color: #92e5eb;
  color: white;
  padding: 1rem 2rem;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

.navlogo{
  color: rgb(11, 160, 56);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: xx-large;
  padding-right: 200px;
}

.navcart{
  padding-left: 850px;
}
.product-card {
  border: 1px solid #ddd;
  background-color: rgb(236, 226, 226);
  padding: 1rem;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.2);
}

.product-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding-left: 0.3rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #0056b3;
}

form div {
  margin-bottom: 1rem;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.4rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
